<div class="footer">
	<div class="mainer">
		<div class="f1">
			<ul class="th clearfix">
					<!-- <li><a href="#">关于我们</a></li>
					<li><a href="#">信息披露</a></li>
					<li><a href="#">服务电话</a></li>
					<li><a href="#">帮助中心</a></li> -->
				</ul>
			<div class="tr clearfix">
				<ul class="models">
					<li><a href="javascript:void(0);">集团介绍</a></li>
					<li><a href="javascript:void(0);">联系我们</a></li>
					<li><a href="javascript:void(0);">加入我们</a></li>
				</ul>
				<ul class="models">
					<li><a href="javascript:void(0);">公开信息披露</a></li>
					<li><a href="javascript:void(0);">资金运用信息披露</a></li>
					<li><a href="javascript:void(0);">偿付能力信息披露</a></li>
				</ul>
				<ul class="models">
					<li><span href="javascript:void(0);" class="font_bold">客服热线</span></li>
					<li><span href="javascript:void(0);" class="font_bold">4008 695 666</span></li>
				</ul>
				<ul class="models">
					<li><a href="javascript:void(0);">法律安全</a></li>
					<li><a href="javascript:void(0);">适用说明</a></li>
					<li><a href="javascript:void(0);">网站地图</a></li>
				</ul>
			</div>
		</div>
		<div  class="f2">
			<span class="lft">友情链接：<a href="http://www.cmhk.com">招商局集团</a></span>
			<span class="rgt">
				<a href="javascript:void(0);">隐私安全</a>
				<a href="javascript:void(0);">版权所有</a>
				<a href="javascript:void(0);" class="last_a">联系我们</a>
				<span>©Copyright2016 深圳市招融投资控股有限公司   <a href="http://www.miitbeian.gov.cn" target="_blank">粤ICP备15016483号</a></span>
			</span>
		</div>
	</div>
</div>