<div class="header">
	<div class="title"><p>全国统一服务热线：4008 695 666</p></div>
	<div class="menus">
		<div>
			<a class="logo iconimg"></a>
			<span class="header_r">
				<ul class="menu clearfix">
					<li class="list-li cur"><a href="index.ejs">首页</a></li>
					<li class="list-li">
						<a href="javascript:void(0);">关于仁和</a>
						<ul class="menu_two">
							<li class="titles"></li>
							<li><a href="./aboutCompany.html">公司简介</a></li>
							<li><a href="javascript:void(0);">团队管理</a></li>
							<li><a href="javascript:void(0);">股东构成</a></li>
							<li><a href="./organizationChart.html">组织架构</a></li>
						</ul>
					</li>
					<li class="list-li">
						<a href="javascript:void(0);" target="_blank">新闻中心</a>
						<ul class="menu_two">
							<li class="titles"></li>
							<li><a href="./companyNews.html">公司新闻</a></li>
							<li><a href="./mediaNews.html">媒体报道</a></li>
						</ul>	
					</li>
					<li class="list-li"><a href="javascript:void(0);" target="_blank">产品中心</a></li>
					<li class="list-li">
						<a href="javascript:void(0);">客户服务</a>
						<ul class="menu_two">
							<li class="titles"></li>
							<li><a  href="./customerService.html" target="_blank">服务指南</a></li>
							<li><a href="javascript:void(0);">单证表格下载</a></li>
							<li><a href="policyPersonal" target="_blank">保单查询</a></li>
							<li><a href="testAxios" target="_blank">业务员验证</a></li>
							<li><a href="javascript:void(0);">咨询与投诉</a></li>
						</ul>
					</li>
					<li class="list-li">
						<a href="javascript:void(0);">公开信息披露</a>
						<ul class="menu_two">
							<li class="titles"></li>
							<li><a href="./publicMsg.html" target="_blank">基本信息</a></li>
							<li><a href="javascript:void(0);">年度信息</a></li>
							<li><a href="javascript:void(0);">临时信息</a></li>
							<li><a href="javascript:void(0);">保险资金运用信息</a></li>
							<li><a href="javascript:void(0);">偿付能力信息</a></li>
							<li><a href="javascript:void(0);">互联网信息</a></li>
						</ul>
					</li>
					<li class="list-li"><a href="javascript:void(0);" target="_blank">加入我们</a></li>
					<li class="list-bar" style="left: 0px;"></li>
				</ul>
			</span>
		</div>
	</div>
</div>